
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{block title}{/block} - Automator</title>

    <link rel="stylesheet" type="text/css" href="/assets/style.css">
    <link rel="icon" type="image/png" href="/assets/favicon.png"/>
    {block head}{/block}
</head>
<body>

<!--HEADER-->
<header id="top-head" class="uk-position-fixed">
    <div class="uk-container uk-container-expand uk-background-primary">
        <nav class="uk-navbar uk-light" data-uk-navbar="mode:click; duration: 250">
            <div class="uk-navbar-left">
                <div class="uk-navbar-item uk-hidden@m">
                    <a class="uk-logo" href="#"><img class="custom-logo" src="img/dashboard-logo-white.svg" alt=""></a>
                </div>
                <ul class="uk-navbar-nav uk-visible@m">
                    <li {if $activeRoute == "home"}class="uk-active"{/if}><a class="uk-disabled" href="#" aria-disabled="true">{block path}{/block}</a></li>
                </ul>
                <div class="uk-navbar-item uk-visible@s">
                    <form action="dashboard.html" class="uk-search uk-search-default">
                        <span data-uk-search-icon></span>
                        <input class="uk-search-input search-field" type="search" placeholder="Search for flows">
                    </form>
                </div>
            </div>
            <div class="uk-navbar-right">
                <ul class="uk-navbar-nav">
                    <li><a class="uk-navbar-toggle" data-uk-toggle data-uk-navbar-toggle-icon href="#offcanvas-nav" title="Offcanvas" data-uk-tooltip></a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
<!--/HEADER-->
<!-- LEFT BAR -->
<aside id="left-col" class="uk-light uk-visible@m">
    <div class="left-logo uk-flex uk-flex-middle">
        <img class="custom-logo" src="/assets/logo.png" alt="">
    </div>
    <div class="left-content-box  content-box-dark">
        <img src="img/avatar.svg" alt="" class="uk-border-circle profile-img">
        <h4 class="uk-text-center uk-margin-remove-vertical text-light">Administrator</h4>

        <div class="uk-position-relative uk-text-center uk-display-block">
            <a href="#" class="uk-text-small uk-text-muted uk-display-block uk-text-center" data-uk-icon="icon: triangle-down; ratio: 0.7">Admin</a>
            <!-- user dropdown -->
            <div class="uk-dropdown user-drop" data-uk-dropdown="mode: click; pos: bottom-center; animation: uk-animation-slide-bottom-small; duration: 150">
                <ul class="uk-nav uk-dropdown-nav uk-text-left">
                    <li><a href="#"><span data-uk-icon="icon: info"></span> Summary</a></li>
                    <li><a href="#"><span data-uk-icon="icon: refresh"></span> Edit</a></li>
                    <li><a href="#"><span data-uk-icon="icon: settings"></span> Configuration</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="#"><span data-uk-icon="icon: image"></span> Your Data</a></li>
                    <li class="uk-nav-divider"></li>
                    <li><a href="/logout"><span data-uk-icon="icon: sign-out"></span> Sign Out</a></li>
                </ul>
            </div>
            <!-- /user dropdown -->
        </div>
    </div>

    <div class="left-nav-wrap">
        <ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>
            <li class="uk-nav-header">ACTIONS</li>
            <li {if $activeRoute == "flows"}class="uk-active"{/if}><a href="/flows"><span data-uk-icon="icon: git-branch" class="uk-margin-small-right"></span>Flows</a></li>
            <li {if $activeRoute == "users"}class="uk-active"{/if}><a href="/users"><span data-uk-icon="icon: users" class="uk-margin-small-right"></span>Users</a></li>
            <li class="uk-parent {if $activeRoute == "integrations"}uk-active{/if}"><a href="/integrations"><span data-uk-icon="icon: server" class="uk-margin-small-right"></span>Integrations</a>
                <ul class="uk-nav-sub">
                    <li><a title="Article" href="https://zzseba78.github.io/Kick-Off/article.html">SSH / SFTP</a></li>
                    <li><a title="Album" href="https://zzseba78.github.io/Kick-Off/album.html">Microsoft Teams</a></li>
                    <li><a title="Cover" href="https://zzseba78.github.io/Kick-Off/cover.html">HTTP Webhooks</a></li>
                    <li><a title="Cover" href="https://zzseba78.github.io/Kick-Off/cover.html">Docker</a></li>
                </ul>
            </li>
            <li {if $activeRoute == "log"}class="uk-active"{/if}><a href="/logs"><span data-uk-icon="icon: file-text" class="uk-margin-small-right"></span>Log</a></li>
        </ul>
        <div class="left-content-box uk-margin-top">

            <h5>Status <small>(today)</small></h5>
            <div>
                <span class="uk-text-small">Running <small>(0 / 0)</small></span>
                <progress class="uk-progress" value="0" max="100"></progress>
            </div>
            <div>
                <span class="uk-text-small">Failed <small>(78 / 100)</small></span>
                <progress class="uk-progress warning" value="78" max="100"></progress>
            </div>
            <div>
                <span class="uk-text-small">Succeeded <small>(12 / 100)</small></span>
                <progress class="uk-progress success" value="12" max="100"></progress>
            </div>

        </div>

    </div>
    <div class="bar-bottom">
        <ul class="uk-subnav uk-flex uk-flex-center uk-child-width-1-5" data-uk-grid>
            <li {if $activeRoute == "home"}class="uk-active"{/if}>
                <a href="/" class="uk-icon-link" data-uk-icon="icon: home" title="Home" data-uk-tooltip></a>
            </li>
            <li {if $activeRoute == "settings"}class="uk-active"{/if}>
                <a href="/settings" class="uk-icon-link" data-uk-icon="icon: settings" title="Settings" data-uk-tooltip></a>
            </li>

            <li>
                <a href="/logout" class="uk-icon-link" data-uk-tooltip="Sign out" data-uk-icon="icon: sign-out"></a>
            </li>
        </ul>
    </div>
</aside>
<!-- /LEFT BAR -->
<!-- CONTENT -->
<div id="content" data-uk-height-viewport="expand: true">
    <div class="uk-container uk-container-expand">

        {block content}{/block}
        <footer class="uk-section uk-section-small uk-text-center">
            <hr>
            <p class="uk-text-small uk-text-center">Copyright 2019 - <a href="https://github.com/zzseba78/Kick-Off">Created by KickOff</a> | Built with <a href="http://getuikit.com" title="Visit UIkit 3 site" target="_blank" data-uk-tooltip><span data-uk-icon="uikit"></span></a> </p>
        </footer>
    </div>
</div>
<!-- /CONTENT -->
<!-- OFFCANVAS -->
<div id="offcanvas-nav" data-uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar uk-offcanvas-bar-animation uk-offcanvas-slide">
        <button class="uk-offcanvas-close uk-close uk-icon" type="button" data-uk-close></button>
        <ul class="uk-nav uk-nav-default">
            <li class="uk-active"><a href="#">Active</a></li>
            <li class="uk-parent">
                <a href="#">Parent</a>
                <ul class="uk-nav-sub">
                    <li><a href="#">Sub item</a></li>
                    <li><a href="#">Sub item</a></li>
                </ul>
            </li>
            <li class="uk-nav-header">Header</li>
            <li><a href="#js-options"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: table"></span> Item</a></li>
            <li><a href="#"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: thumbnails"></span> Item</a></li>
            <li class="uk-nav-divider"></li>
            <li><a href="#"><span class="uk-margin-small-right uk-icon" data-uk-icon="icon: trash"></span> Item</a></li>
        </ul>
        <h3>Title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>
<!-- /OFFCANVAS -->

<!-- JS FILES -->
<script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/uikit@latest/dist/js/uikit-icons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
</body>
</html>
